.content-container-wrapper-1{
    width:100%;
    padding-left: 106px;
    padding-top: 50px;
    
}
.content-container-inner{
    height:1000px;
    width:100%;
    background: rgb(205, 217, 225); 
    padding:20px; 
}